 {{template "header"}}

    <div class="container single-show-view">
      <div class="row">
        <div class="col-sm-12">

            <div id="calendar"></div>
        </div>
      </div>



    </div><!-- /.container -->
    <div id="ohsnap"></div>
    <div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ .show.ShowName }}</h4>
      </div>
      <div class="modal-body">
        <p><div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ T "btn_close" }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/underscore-min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/external/moment.min.js"></script>
    <script src="/assets/js/external/fullcalendar.min.js"></script>
    <script src="/assets/js/de.js"></script>
      {{template "script"}}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>


      $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      // defaultDate: '2015-02-12',
      editable: false,
      eventLimit: false, // allow "more" link when too many events
      events: {
        url: '/api/calendar',
        error: function() {
          $('#script-warning').show();
        }
      },
      loading: function(bool) {
        $('#loading').toggle(bool);
      },
      eventRender: function(event, element) {
          console.log(event, element)
      }
    });

  });
    // var events = []
    // var calendar
    //   getEvents()
    // function  getEvents() {
    //   $.getJSON("/api/calendar", function(data) {
    //     for (var i = data.Result.length - 1; i >= 0; i--) {
    //       cur = Object()
    //       cur.id = data.Result[i].Id
    //       cur.title = data.Result[i].Title
    //       cur.start = data.Result[i].Start
    //       cur.end = data.Result[i].End
    //       cur.class = data.Result[i].Class
    //       events.push(cur)
    //     };

    //     $("#calendar").calendar(
    //         {
    //             tmpl_path: "/assets/calendar/",
    //             events_source: function() {
    //               return events;
    //             },
    //             view: 'week',
    //         });
    //   })


    // }



    </script>
  </body>
</html>
