 {{template "header"}}

    <div class="container" style="padding-top: 50px;">
          <div class="table-responsive">
            <table id="history" class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Series</th>
                  <th>Episode</th>
                  <th>Episode Title</th>
                  <th>Quality</th>
                  <th>Date</th>
                  <th>Info</th>
                </tr>
              </thead>
              <tbody>
                {{ range $hist := .history }}
                <tr>
                  <td>
                    {{ if eq $hist.Action 1 }}
                    <i class="glyphicon glyphicon-cloud-download" data-toggle="tooltip" data-placement="right" title="" data-original-title="Episode snatched"></i>
                    {{ else if eq $hist.Action 2 }}
                    <i class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="right" title="" data-original-title="Episode downloaded"></i>
                    {{ else if eq $hist.Action 3 }}
                    <i class="text-danger glyphicon glyphicon-cloud-download" data-toggle="tooltip" data-placement="right" title="" data-original-title="Download failed"></i>
                    {{end }}</td>
                  <td><a href="/show/{{ $hist.TvShow.Slug }}">{{ $hist.TvShow.ShowName }}</a></td>
                  <td data-order="{{ $hist.Season }}{{ $hist.Episode }}">{{ $hist.Season }}x{{ $hist.Episode }}</td>
                  <td>{{ $hist.TvEpisode.Name }}</td>
                  <td data-order="{{ $hist.Quality.Quality }}"><span class="label label-default">{{ $hist.QualityString }}</span></td>
                  <td data-order="{{ $hist.Date.Unix }}" data-toggle="tooltip" data-placement="top" title="" data-original-title='{{ $hist.Date.Format "02.01.2006 15:04" }}'>{{ $hist.Date | humanizeTime }}</td>
                  <td><i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ $hist.Title }}"></td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>



    </div><!-- /.container -->
    <div id="ohsnap"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="/assets/js/vendor/jquery.ba-throttle-debounce.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/external/ohsnap.js"></script>
    <script src="/assets/js/external/jquery.dynatable.js"></script>
    <script src="/assets/js/main.js"></script>
    {{template "script"}}
    <script>
      $(document).ready(function() {
        $('#history').dynatable({
          inputs: {
      paginationClass: 'pagination',
      paginationActiveClass: 'active',
      paginationDisabledClass: 'disabled'
    }
        });
      });

    </script>
  </body>
</html>
