 {{template "header"}}

    <div class="container-fluid no-spacer">
      <div class="row">
          <div class="col-sm-6 series-holder featured">
            <div class="show-info row">
              <div class="title-wrapper col-sm-9">
                <h2>Dexter</h2>
                <p class="hidden-xs">Dexter Morgan, Blutanalyst bei der Polizei von Miami, geht nachts einer etwas anderen Tätigkeit nach. Er streift als Serienkiller durch die Nacht und tötet Menschen, die ihrerseits bereits gemordet haben.</p>
              </div>
              <div class="completition-wrapper col-sm-3 text-right hidden-xs">
                <input class="dial" data-readOnly="true"  data-bgcolor="transparent" value="90" data-skin="tron" data-height="100" data-width="100" data-fgColor="#43ac6a" data-thickness=".3">
              </div>
            </div>
            <div class="show-info row visible-xs">
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                  <span class="sr-only">90% Complete</span>
                </div>
              </div>
            </div>
            <img src="../images/dexter.jpg" class="img-responsive">
          </div>

          <div class="col-sm-6 series-holder featured">
            <div class="show-info row">
              <div class="title-wrapper col-sm-9">
                <h2>Chuck</h2>
                <p class="hidden-xs">Eine scheinbar harmlose E-Mail verändert das Leben des Computerspezialisten Chuck: ein ehemaliger Freund und CIA-Mitarbeiter plündert eine geheime Datenbank namens Intersect und lässt sie – kurz bevor er stirbt – Chuck zukommen.</p>
              </div>
              <div class="completition-wrapper col-sm-3 text-right hidden-xs">
                <input class="dial" data-readOnly="true"  data-bgcolor="transparent" value="20" data-skin="tron" data-height="100" data-width="100" data-fgColor="#F04124" data-thickness=".3">
              </div>
            </div>
            <div class="show-info row visible-xs">
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
            </div>
            <img src="../images/chuck.jpg" class="img-responsive">
          </div>
      </div>

      <div class="container-fluid no-spacer">
      <div class="row">
          <div class="col-sm-6 col-md-4 series-holder">
            <div class="show-info row">
              <div class="title-wrapper col-sm-9">
                <h2>American Horror Story</h2>
                <p class="hidden-xs">Dexter Morgan, Blutanalyst bei der Polizei von Miami, geht nachts einer etwas anderen Tätigkeit nach. Er streift als Serienkiller durch die Nacht und tötet Menschen, die ihrerseits bereits gemordet haben.</p>
              </div>
              <div class="completition-wrapper col-sm-3 text-right hidden-xs">
                <input class="dial" data-readOnly="true"  data-bgcolor="transparent" value="22" data-skin="tron" data-height="100" data-width="100" data-fgColor="#F04124" data-thickness=".3">
              </div>
            </div>
            <div class="show-info row visible-xs">
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%;">
                  <span class="sr-only">22% Complete</span>
                </div>
              </div>
            </div>
            <img src="../images/ahs.jpg" class="img-responsive">
          </div>

          <div class="col-sm-6 col-md-4 series-holder">
            <div class="show-info row">
              <div class="title-wrapper col-sm-9">
                <h2>Suits</h2>
                <p class="hidden-xs">Eine scheinbar harmlose E-Mail verändert das Leben des Computerspezialisten Chuck: ein ehemaliger Freund und CIA-Mitarbeiter plündert eine geheime Datenbank namens Intersect und lässt sie – kurz bevor er stirbt – Chuck zukommen.</p>
              </div>
              <div class="completition-wrapper col-sm-3 text-right hidden-xs">
                <input class="dial" data-readOnly="true"  data-bgcolor="transparent" value="45" data-skin="tron" data-height="100" data-width="100" data-fgColor="#E99002" data-thickness=".3">
              </div>
            </div>
            <div class="show-info row visible-xs">
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                  <span class="sr-only">40% Complete</span>
                </div>
              </div>
            </div>
            <img src="../images/suits.jpg" class="img-responsive">
          </div>
          <div class="col-sm-6 col-md-4 series-holder">
            <div class="show-info row">
              <div class="title-wrapper col-sm-9">
                <h2>Banhsee</h2>
                <p class="hidden-xs">Eine scheinbar harmlose E-Mail verändert das Leben des Computerspezialisten Chuck: ein ehemaliger Freund und CIA-Mitarbeiter plündert eine geheime Datenbank namens Intersect und lässt sie – kurz bevor er stirbt – Chuck zukommen.</p>
              </div>
              <div class="completition-wrapper col-sm-3 text-right hidden-xs">
                <input class="dial" data-readOnly="true"  data-bgcolor="transparent" value="62" data-skin="tron" data-height="100" data-width="100" data-fgColor="#5bc0de" data-thickness=".3">
              </div>
            </div>
            <div class="show-info row visible-xs">
              <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </div>
            <img src="../images/banshee.jpg" class="img-responsive">
          </div>

      <div class="col-sm-6 col-lg-4 series-holder">
            <div class="show-info row">
              <div class="title-wrapper col-sm-9">
                <h2>Elementary</h2>
                <p class="hidden-xs">Eine scheinbar harmlose E-Mail verändert das Leben des Computerspezialisten Chuck: ein ehemaliger Freund und CIA-Mitarbeiter plündert eine geheime Datenbank namens Intersect und lässt sie – kurz bevor er stirbt – Chuck zukommen.</p>
              </div>
              <div class="completition-wrapper col-sm-3 text-right hidden-xs">
                <input class="dial" data-readOnly="true"  data-bgcolor="transparent" value="90" data-skin="tron" data-height="100" data-width="100" data-fgColor="#43ac6a" data-thickness=".3">
              </div>
            </div>
            <div class="show-info row visible-xs">
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                  <span class="sr-only">90% Complete</span>
                </div>
              </div>
            </div>
            <img src="../images/elementary.jpg" class="img-responsive">
          </div>
      </div>
      </div>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="..//js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/jquery.knob.min.js"></script>
    {{template "script"}}
    <script>
    $('.dial').knob()
    </script>
  </body>
</html>
