 {{template "header"}}

    <div class="container">

      <div class="row">
          {{ $def := .qualitys }}
          {{ range $preset := .presets }}
          <div class="col-sm-4">

          <p class="lead">{{ $preset.Name }}</p>
          <div class="">
            <form>
              <div class="form-group">
                <label for="preset-name-{{ $preset.Id }}">Name</label>
                <input type="text" class="form-control" id="preset-name-{{ $preset.Id }}" placeholder="" value="{{ $preset.Name }}">
              </div>
              <div class="form-group">
                <label for="preset-required-{{ $preset.Id }}">Required Regex</label>
                <input type="text" class="form-control" id="preset-required-{{ $preset.Id }}" placeholder="" value="{{ $preset.RequiredWords }}">
              </div>
              <div class="form-group">
                <label for="preset-name-{{ $preset.Id }}">Ignore Regex</label>
                <input type="text" class="form-control" id="preset-name-{{ $preset.Id }}" placeholder="" value="{{ $preset.IgnoredWords }}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Qualitys</label>
                <select multiple class="form-control">
                  {{ range $cur := $def }}
                    <option {{ if $cur.IsInPreset $preset.Id }} selected {{ end }} value="{{ $cur.Id }}">{{ $cur.Title }}</option>
                  {{ end }}
                </select>
              </div>
              <div class="checkbox">
                <label>
                  <input {{ if $preset.ArchiveFirstmatch }} checked {{ end }}type="checkbox"> Archive first match
                </label>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>

          </div>
          {{ end }}

      </div>


    </div><!-- /.container -->
    <div id="ohsnap"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="/assets/js/vendor/jquery.ba-throttle-debounce.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/external/ohsnap.js"></script>
    <script src="/assets/js/main.js"></script>
    {{template "script"}}
    <script>
    </script>
  </body>
</html>
