 {{template "header"}}

    <div class="container">



      <div class="row season-1">
        <div class="col-sm-12">
          <div class="profile-options">

            <div id="profile-1">
              <form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="720p Bluray">
    </div>
  </div>
  <div class="form-group">
    <label for="required" class="col-sm-2 control-label">Required Regex</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="required" placeholder=".*must.contain.*">
    </div>
  </div>
  <div class="form-group">
    <label for="ignore" class="col-sm-2 control-label">Ignore Regex</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="irgnore" placeholder=".*must.not.contain.*">
    </div>
  </div>
  <div class="form-group">
    <label for="ignore" class="col-sm-2 control-label">Ignore Regex</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="irgnore" placeholder=".*must.not.contain.*">
    </div>
  </div>
  <div class="quality">

  </div>

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
            </div>

          </div>
        </div>
      </div>



    </div><!-- /.container -->
    <div id="ohsnap"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="/assets/js/vendor/jquery.ba-throttle-debounce.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/external/ohsnap.js"></script>
    <script src="/assets/js/main.js"></script>
    {{template "script"}}
    <script>
    function appendQualitys(data) {
      html = ''
      for (var i = data.length - 1; i >= 0; i--) {
        html = html + '<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><div class="checkbox"><label><input type="checkbox"> '+data[i].Title+'</label></div></div></div>'
      };

      $('.quality').append(html)
    }
    $.getJSON("/api/quality", appendQualitys)

    </script>
  </body>
</html>
