 {{template "header"}}


    <div class="container-fluid {{ if gt (len .shows) 0 }}no-spacer{{ end }}">
      <div class="row">

        {{ if lt (len .shows) 1 }}
        <div class="col-sm-6 col-sm-offset-3 text-center" style="margin-top: 100px">
          <div class="jumbotron" >
            <p class="lead ">No Series available please <a href="/addseries">add one</a> first</p>
          </div>
        </div>
        {{ end }}

        {{ range $x := .shows }}
        {{ $percent := $x.Percent }}
           <div class="col-sm-6 col-md-4 series-holder">
            <div class="show-info row">
              <div class="title-wrapper col-sm-9">
                <h2><a href="/show/{{ $x.Slug }}">{{ $x.ShowName }} </a></h2>
              </div>
              <div class="hidden-xs col-sm-3">
              {{ if lt $percent 33.0 }}
                  <div class="circle" id="{{$x.Id}}" data-status="{{ $x.Downloaded | len }}+{{ $x.Snatched | len }} / {{$x.EpisodeCount}}" data-value="{{ printf "0.%02.f" $x.Percent }}" data-text="text-danger" data-size="100" data-color="#f04124" ><strong></strong></div>
                {{ else if and (gt $percent 33.0) (lt $percent 66.0 ) }}
                  <div class="circle" id="{{$x.Id}}" data-status="{{ $x.Downloaded | len }}+{{ $x.Snatched | len }} / {{$x.EpisodeCount}}" data-value="{{ printf "0.%02.f" $x.Percent }}" data-text="text-warning" data-size="100" data-color="#e99002" ><strong></strong></div>
                {{ else if and (gt $percent 66.0) (lt $percent 100.0 ) }}
                  <div class="circle" id="{{$x.Id}}" data-status="{{ $x.Downloaded | len }}/{{$x.EpisodeCount}}" data-value="{{ printf "0.%02.f" $x.Percent }}" data-text="text-success" data-size="100" data-color="#43ac6a" ><strong></strong></div>
                {{ else }}
                <div class="circle" id="{{$x.Id}}" data-status="{{ $x.Downloaded | len }}/{{$x.EpisodeCount}}" data-value="{{ printf "%02.f" $x.Percent }}" data-text="text-success" data-size="100" data-color="#43ac6a" ><strong></strong></div>
                {{ end }}
              </div>

            </div>
            <div class="show-info row">
              <div class="progress">

                {{ if lt $percent 33.0 }}
                  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ $percent }}%;">
                {{ else if and (gt $percent 33.0) (lt $percent 66.0 ) }}
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ $percent }}%;">
                {{ else if gt $percent 66.0 }}
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ $x.Percent }}%;">
                {{ end }}
                  <span class="sr-only">{{ printf "%.f" $percent }}% Complete</span>
                </div>
              </div>
            </div>
            <a href="/show/{{ $x.Slug }}">
            <img src="/cache/images/fanart/{{ $x.TvdbId }}_small.jpg" class="img-responsive">
          </a>
          </div>
        {{ end }}


      </div>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.knob.min.js"></script>
    <script src="assets/js/external/circle-progress.js"></script>

    {{template "script"}}
    <script>

    $('.circle').each(function(){
      $($(this)).circleProgress({
        startAngle: 0,
        lineCap: "butt",
        value: $(this).data("value"),
        size: $(this).width(),
        fill: {
            color: $(this).data("color")
        }
      }).on('circle-animation-progress', function(event, progress, stepValue) {
        $(this).find('strong').addClass($(this).data("text")).text(String(stepValue.toFixed(2)).substr(2) + "%");
        $(this).find('strong').addClass($(this).data("text")).text($(this).data("status"))
      })
      console.log($(this).data("value"))
    })

    </script>
  </body>
</html>
